.weatherContainer {
  padding: 32px 0px;
  width: 100%;
  opacity: 0.9;
  transition: all ease 1s;

  @media (max-width: 768px) {
    padding: 32px 16px;
  }

  .card {
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    width: 100%;
    height: 100%;
    max-height: 500px;
    overflow: hidden;
    position: relative;
    opacity: 1;
    transition: all ease 1s;

    &.spinnerContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      span{
        text-transform: capitalize;
      }
    }

    .card-body {
      z-index: 200;
      padding: 2rem;
      color: white;

      .logo {
        text-align: center;
      }

      .summary {
        display: flex;
        justify-content: space-between;
        .cityInfo {
          h3 {
            font-weight: 400;
            font-size: 3rem;
            letter-spacing: 2px;
            text-transform: capitalize;
            padding-bottom: 2px;

            @media (max-width: 768px) {
              font-size: 2rem;
            }
          }

          .date {
            font-weight: 200;
            font-size: 1.5rem;
            padding-bottom: 5px;
          }

          .desc {
            font-weight: 200;
            font-size: 1rem;
            text-transform: capitalize;
          }
        }
        .temp {
          h4 {
            font-size: 6rem;
            font-weight: 300;
            letter-spacing: -0.4rem;

            @media (max-width: 768px) {
              font-size: 2rem;
              letter-spacing: 1px;
            }
          }
        }
      }

      .details{
        display: flex;
        justify-content:space-evenly;
        align-items:center;
        flex-wrap: wrap;

        p{
          border-top:2px solid red;
        }
      }
    }
  }

  .card:before {
    background-color: rgba(255, 255, 255, 0.363);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }
}
