.root {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: 'Festive', cursive;
    font-family: 'Festive', cursive;
    font-size: 4rem;
    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }
}
